<section class="change-category-dialog">
	<h2 md-dialog-title>Select Category</h2>
	<md-dialog-content>
		<section class="categor-list-item" style="margin-bottom: 15px;" fxLayout="column" *ngFor="let j of [1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20]">
			<section fxLayout="row" fxLayoutGap="15px">
				<section class="category-icon" style="width: 40px; height: 40px; border-radius: 20px; background-color: #004D40" fxLayout="column" fxLayoutAlign="center center">
					<img src="../../../assets/img/money.png" height="20px" alt="">
				</section>
				<section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" fxFlex>
					<span class="mat-body-2">Clothing</span>
					<span class="mat-caption">( has 5 sub categories )</span>
				</section>
				<button md-icon-button>
					<md-icon>{{j==1?'expand_less':'expand_more'}}</md-icon>
				</button>
			</section>
			<section class="sub-category-list-item" *ngIf="j==1">
				<section fxLayout="row" fxLayoutGap="15px" *ngFor="let i of [1,2,3,4,5]">
					<section class="category-icon" style="width: 40px; height: 40px; border-radius: 20px;" fxLayout="column" fxLayoutAlign="center center">
					</section>
					<section fxLayout="column" fxLayoutAlign="center start" fxFlex>
						<span class="mat-body-1">Clothing</span>
					</section>
					<section fxLayout="column" fxLayoutAlign="center center">
						<md-radio-button value="1"></md-radio-button>
					</section>
				</section>				
			</section>
		</section>		
	</md-dialog-content>
	<md-dialog-actions fxLayoutGap="10px">
	<span fxFlex></span>
		<button md-raised-button color="accent" disabled>UPDATE</button>
		<button md-button md-dialog-close style="min-width: 40px">CLOSE</button>
	</md-dialog-actions>
</section>