<bd-container>
	<section fxLayout="column" fxLayoutGap="10px">
		<section fxLayout="row" class="header" fxLayoutGap="20px">
			<span></span><h2 class="mat-title no-margin">23rd July, 2017</h2>
		</section>
		<section fxLayout="row" [ngClass]="{'category-card mat-elevation-z2':true, 'uncategorized':i==3}" fxLayoutGap="15px" *ngFor="let i of [1,2,3,4,5]">
			<section fxFlex="5px" class="indicator"></section>
			<section>
				<section class="category-icon" fxLayout="column" fxLayoutAlign="center center">
					<img src="../assets/img/money.png" alt="icon">
				</section>
			</section>
			<section fxFlex fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center start">
				<h3 class="transaction-title">Extra Options</h3>
				<h4 class="category-name">Income</h4>
			</section>
			<section fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center">
				<section style="background-color: teal1;" fxLayout="row" fxLayoutAlign="end center">
					<h4 fxFlex class="no-margin mat-title" style="padding-right: 15px; text-align: right"><strong>$23,219,233</strong></h4>
				</section>
				<section fxLayout="row" *ngIf="i==3">
					<button md-button>Change</button>
					<button md-button style="min-width: 50px">Ok</button>
				</section>
			</section>
			<span></span>
		</section>
	</section>
</bd-container>